
body{
  background-color:#F0E8E8;
  color: #1A1E26;
}

/* colors:

  - #9ca0ac	
  - #1a1e26
  - #3c3f4d
  - #6b6f7c
  - #9ca0ac
  - #00b5e2
  */



.head-div{
  display: flex;
  background-color: #1A1E26;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.2em;
  color:#dee4f6;
  height:5em;
  justify-content: space-between;
}

.name{
  font-size:22px;
  margin-left:1.5em;
  font-weight:800;
}

/* Hamburger menu icon styles */
.menu-icon {
  display: block; 
  cursor: pointer;
  margin:1.5em;
}

/* CSS for the bars of the hamburger icon */
.bar {
  width: 25px;
  height: 4px;
  background-color: #f1f1f1;
  margin: 4px 0;
  border-radius:1em;

}

/* Hide navigation links by default */
.nav-links {
  display: none;
}


/* Show navigation links when active class is applied */
.nav-links.active {
  display: block;
}

/* Media query to hide the menu icon on larger screens */
@media screen and (min-width: 769px) {
  .menu-icon {
    display: none; /* Hide on screens wider than 768px */
  }
}
.hello{
  font-size: 62px;
  color:#7DCEA0;
}



/* @media (min-width: 503px) and (min-height:606px) {
{font-size: 10px;}
} */


#intro{
  display:flex;
  color: #3c3f4d;
  text-align:center;
  margin-left: 2em;
  margin-top: 3em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.intro-body{
  font-size: 26px;
  letter-spacing: 0.02em;
  line-height:1.4em;
  font-weight:500;
  text-align:left;
  display:flex;
  flex-direction:column;
  padding-left:3rem;
  padding-right:0.7rem;
  border-left: solid 3px #1A1E26;

}

.lets-talk{
  color: #7DCEA0;
  font-size:34px;
  margin-left: 3rem;
  margin-top:3rem;
  font-weight:500;
  

}


.projects-headline{
  padding-top:3em;
  text-align:center;
  font-size: 28px;
  border-top: 3px solid #1A1E26;
  padding-top: 2em;
}

#projects-wrapper {
  display:flex;
  flex-direction:column;
  
}

.projects {
  background-color: #1A1E26;
  color:#dee4f6;
  border-radius: 0.39em;
  text-align: center;
  padding:0.4rem;
  margin-left:2rem;
  margin-right:2rem;
  margin-top:4rem;
  font-size:1.45rem;
  height:2rem;
}

.project-1, .project-2, .project-3{
  /* border: solid 3px #00b5e2; */
  border-radius: 1em;
  /* border: solid 3px red; */
  margin:2rem;

  /* background-color:#1A1E26; */
}

.landingPageHeading {
  text-align:left;
  font-size:22px;
}

.landingPageImg {
  width:100%;
  border-radius:1em;
}



/* 
#F0E8E8 (Pale Pink)
#A7C4BC (Mint)
#1A1E26
#3c3f4d
 */
